.main-title {
  color: var(--vt-c-white);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  font-size: 24px;
}
.main-text {
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
}
@media (max-width: 1024px) {
  .main-title {
    font-size: 21px;
  }
}
@media (max-width: 768px) {
  .main-title {
    font-size: 18px;
  }
}

/* Small screens (tablets) */
@media (max-width: 640px) {
  .main-title {
    font-size: 18px;
  }
}
